.intro {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .intro_title {
    color: #29a2ec;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  
  .vertical_space {
    margin-bottom: 2cm;
  }

.patton {
    border: 2.5px solid white;    
}