.intro {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .intro_title {
    color: #29a2ec;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 40px;
  }
  
  .vertical_space {
    margin-bottom: 2cm;
  }

.patton {
    border: 2.5px solid white;   
    width: 400px;
    height: 400px;  
}

@media screen and (max-width: 1000px) {
  .intro_title {
    color: #29a2ec;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-size: 30px;
  }

  .patton {
    border: 2.5px solid white;   
    width: 95%;
    height: 400px;  
}

}